<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.codemodel.recruitment.dao.QuestionDao">

    <select id="getRandomQuestionRandom" resultType="cn.codemodel.recruitment.model.entity.Question">
        select * from tb_question order by rand() limit ${num}
    </select>
</mapper>